

.brandstyle{
    background-color: lightseagreen;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left:30%;
 

}


body{
    background-color:lightgray;
    font-family: "Times New Roman", Times, serif;
}



.container-style{
    display: flex; /* or inline-flex */
    justify-content:center;
    margin-top: 30px;
    padding-right: 60px;
    font-family: "Times New Roman", Times, serif;

}





.navstyle{
    background-color: white;
   
}

.style-form{
    border-top: 2px solid lightgray;
  
}







.content-color{
    background-color: white;
    padding-bottom: 10px;
}


h1 {
    color:white 
    font-family:verdana;      
                }


.card-style{
    padding: 1.25rem;
    border-color: transparent;
}




.contactstyle {
  font-weight: bold;
  color:lightseagreen;   
  margin-top: 10px;
}


.protfoliostyle {
    font-weight: bold;
    color:lightseagreen;   
    margin-top: 10px;
    margin-bottom: 10px;
  }
  

.buttoncolor{
    background-color: lightseagreen;
}




img{
    float: left;
}


.cardstyle{
    height:42;
    width:42;
}



.footerbottom{
    position: absolute;
    bottom: 0;
    color: lightgray(77, 72, 72);
    background-color: rgb(77, 72, 72);
    border-top: 4px solid lightgreen;
    width: 100% ;
}


.footerstyle{
    background-color: rgb(60, 61, 61);
    color: lightgray(77, 72, 72);
    border-top: 4px solid lightgreen;
    position: absolute;
    width: 100%;
 
}

.card{
    border: none;
}

.no-left-padding {
    padding-left: 0px;
}

