

.brandstyle{
    background-color: lightseagreen;
    color: white;
    
}


body{
    background-color:lightgray;
    font-family: "Times New Roman", Times, serif;
}


.container{
          display: flex; /* or inline-flex */
          justify-content:center;
          margin-top: 100px;
          padding-right: 60px;
          font-family: "Times New Roman", Times, serif;
          
}




.navstyle{
    background-color: white;
   
}

.style-form{
    border-top: 2px solid lightgray;
  
}




.content-color{
    background-color: white;
}


h1 {
    color:white 
    font-family:verdana;      
                }




.contactstyle {

  font-weight: bold;
  margin:10px;
  color:lightseagreen;   
  
}

img{
    float: left;
}

footer{
    position: absolute;
    bottom: 0;
    color: lightgray(77, 72, 72);
    background-color: rgb(77, 72, 72);
    border-top: 4px solid lightgreen;
    width: 100% ;
}