

.brandstyle{
    background-color: lightseagreen;
    color: white;
    font-size: 20px;
    font-weight: bold;
    
}


body{
    background-color:lightgray;
    font-family: "Times New Roman", Times, serif;
}



.container-style{
    display: flex; /* or inline-flex */
    justify-content:center;
    margin-top: 10px;
    padding-right: 60px;
    font-family: "Times New Roman", Times, serif;

}




.navstyle{
    background-color: white;
   
}

.style-form{
    border-top: 2px solid lightgray;
  
}



.card-styly{
    size:350%*350%;
}




.content-color{
    background-color: white;
}


h1 {
    color:white 
    font-family:verdana;      
                }


.card-style{
    padding: 1.25rem;
    border-color: transparent;
}




.contactstyle {

  font-weight: bold;
  margin:10px;
  color:lightseagreen;   
  border-bottom: 1.5px solid lightgray;
  
  
}

img{
    float: left;
}


.cardstyle{
    height:42;
    width:42;
}



footer{
    position: absolute;
    bottom: 0;
    color: lightgray(77, 72, 72);
    background-color: rgb(77, 72, 72);
    border-top: 4px solid lightgreen;
    width: 100% ;
}